@model IEnumerable<UIDTSYS.Models.Ufr>
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    
    @* title *@
    <div class="row">
        <div class="col-md-12">
            <h2>UFR</h2>
        </div>
    </div>

</div>

